/vendor/

/public/uploads/firmas/*

/public/uploads/mascotas/*

/public/uploads/profesionales/*

/public/uploads/usuarios/*

/public/uploads/veterinaria/*

/public/uploads/veterinarios/*

/.vscode/*

