/vendor/

/public/uploads/firmas/*

/public/uploads/mascotas/*

/public/uploads/profesionales/*

/public/uploads/usuarios/*

/public/uploads/veterinaria/*

/public/uploads/veterinarios/*
/public/uploads/tickets/**.png
/public/uploads/tickets/**.jpg
/public/uploads/tickets/**.jpeg
/public/uploads/tickets/**.pdf
/public/uploads/tickets/**.doc
/public/uploads/tickets/**.docx

/.vscode/*


config/config.php
config/database.php
.htaccess

.env

composer.lock
composer.json
app/logs/*
database

PROJECT_CONTEXT.md

Analisis_Requisitos_Funcionales.md
requisitos_funcionales.md

/public/app/logs/*

Informe_ERS_Vetwilling.md
